{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />

    <title>Get-it</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />

    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="{% static 'notes/css/getit.css' %}?v=5"
    />
  </head>

  <body>
    {% block content %}
    {% endblock %}

    <script
      src="{% static 'notes/script/getit.js' %}?v=5"
    ></script>
  </body>
</html>