{% extends "notes/base.html" %}
{% load static %}

{% block content %}

<header class="appbar">
  <img
    class="logo"
    src="{% static 'notes/img/logo-getit.png' %}"
    alt="Get-it"
  />

  <p class="subtitle">
    Como o Post-it, mas com outro verbo
  </p>
</header>


<main class="main-content">

  <form
    method="post"
    class="form-card"
  >
    {% csrf_token %}

    <input
      class="form-card-title"
      type="text"
      value="{{ note.title }}"
      name="titulo"
      placeholder="Título"
    />

    <textarea
      class="autoresize"
      name="detalhes"
      placeholder="Digite o conteúdo..."
    >{{ note.content }}</textarea>

    <input
      class="form-card-tag"
      type="text"
      value="{{ tag_value }}"
      name="tag"
      placeholder="Adicione uma tag"
    />

    {% if error %}
      <p class="form-error">
        {{ error }}
      </p>
    {% endif %}

    <div class="update-buttons">

      <a
        class="btn-cancelar"
        href="{% url 'index' %}"
      >
        Cancelar
      </a>

      <button
        class="btn-salvar"
        type="submit"
      >
        Salvar
      </button>

    </div>

  </form>

</main>

{% endblock %}